.cloud-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 65%;
    background: rgba(106, 75, 198, 0.9);
    backdrop-filter: blur(10px);
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
    z-index: 1;
}
