* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #a18cd1, #fbc2eb);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Arial', sans-serif;
  margin: 0;
}