<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>QuizMaster – Select Quiz</title>
  <link rel="stylesheet" href="../styles/categorySelection.css" />
</head>
<body>
<div class="cloud-top"></div>


<h1 id="main-title" th:text="'Quizzes in ' + ${category}"></h1>

<div class="categories">
  <form th:each="quiz : ${quizzes}" th:action="@{'/quiz/' + ${quiz.id}}" method="GET">
    <button class="category-button" type="submit" style="background:#576574;">
        <span th:text="${quiz.id}">Sample Quiz</span>
      📘<br>Sample Quiz
    </button>
  </form>
</div>

<a th:href="@{/add-quiz}" class="add-button">➕ Add New Quiz</a>

</body>
</html>
