<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>QuizMaster – Select Quiz</title>
  <link rel="stylesheet" href="../styles/global.css" />
  <link rel="stylesheet" href="../styles/categorySelection.css" />

</head>
<body>
<div class="cloud-top"></div>


<h1 id="main-title" th:text="'Quizzes in ' + ${category}"></h1>

<div class="categories">
  <form th:each="quiz : ${quizzes}" th:action="@{'/quiz/' + ${quiz.id}}" method="GET">
    <button class="category-button" type="submit" style="background:#576574;">
        <span th:text="${quiz.name}"></span>
      📘<br><br>Sample Quiz
    </button>
  </form>
</div>

<div class="quiz-actions">
  <a href="/rateQuiz" class="add-button" style="margin-bottom: 12rem;">➕ Feedback</a><br>
  <a href="/selectQuiz" class="add-button" style="margin-bottom: 4rem;">➕ Add New Quiz</a><br>
  <a href="/deleteQuiz" class="add-button" style="margin-bottom: 8rem;">➖ Quiz löschen</a><br>

  <a href="/shareQuiz" class="add-button">➕ Share Your Quiz</a>
</div>
</body>
</html>
