<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Quiz Master – Cloud Split</title>
  <link rel="stylesheet" href="../styles/global.css" />
  <link rel="stylesheet" href="../styles/startPage.css" />
</head>
<body>
<div class="purple-top">
  <div class="letter-tile" style="top:53%; left:68%; background:#ffb8b8; color:#ffffff; --angle: 14.18deg;">E</div>
  <div class="letter-tile" style="top:55%; left:43%; background:#feca57; color:#ffffff; --angle: -1.38deg;">D</div>
  <div class="letter-tile" style="top:40%; left:85%; background:#54a0ff; color:#ffffff; --angle: 18deg;">U</div>
  <div class="letter-tile" style="top:51%; left:18%; background:#ffcbf2; color:#ffffff; --angle: -3.34deg;">P</div>
  <div class="letter-tile" style="top:10%; left:5%; background:#ffcbf2; color:#ffffff; --angle: -25deg;">L</div>
  <div class="letter-tile" style="top:85%; left:10%; background:#54a0ff; color:#ffffff; --angle: -15deg;">A</div>
  <div class="letter-tile" style="top:34%; left:34%; background:#d3a4f9; color:#ffffff; --angle: 10.46deg;">Y</div>
  <div class="letter-tile" style="top:50%; left:56%; background:#ff6b6b; color:#ffffff; --angle: 22.3deg;">Q</div>
  <div class="letter-tile" style="top:52%; left:23%; background:#54a0ff; color:#ffffff; --angle: -15.2deg;">I</div>
  <div class="letter-tile" style="top:38%; left:59%; background:#48dbfb; color:#ffffff; --angle: 22.65deg;">Z</div>
  <div class="letter-tile" style="top:5%; left:50%; background:#ffcbf2; color:#ffffff; --angle: 12deg;">M</div>
  <div class="letter-tile" style="top:39%; left:49%; background:#1dd1a1; color:#ffffff; --angle: -23.25deg;">S</div>
  <div class="letter-tile" style="top:11%; left:56%; background:#ff9ff3; color:#ffffff; --angle: -4.38deg;">T</div>
  <div class="letter-tile" style="top:21%; left:35%; background:#1dd1a1; color:#ffffff; --angle: -23.04deg;">R</div>
  <div class="letter-tile" style="top:10%; left:36%; background:#1dd1a1; color:#ffffff; --angle: -16.16deg;">F</div>
  <div class="letter-tile" style="top:21%; left:67%; background:#ffcbf2; color:#ffffff; --angle: -13.35deg;">N</div>
  <div class="letter-tile" style="top:11%; left:18%; background:#ff9ff3; color:#ffffff; --angle: -18.06deg;">G</div>
</div>
<div class="cloud-split">
  <div class="cloud-circle" style="left:0%; width:100px; height:100px;"></div>
  <div class="cloud-circle" style="left:6%; width:80px; height:80px;"></div>
  <div class="cloud-circle" style="left:12%; width:100px; height:100px;"></div>
  <div class="cloud-circle" style="left:18%; width:80px; height:80px;"></div>
  <div class="cloud-circle" style="left:24%; width:100px; height:100px;"></div>
  <div class="cloud-circle" style="left:30%; width:80px; height:80px;"></div>
  <div class="cloud-circle" style="left:36%; width:100px; height:100px;"></div>
  <div class="cloud-circle" style="left:42%; width:80px; height:80px;"></div>
  <div class="cloud-circle" style="left:48%; width:100px; height:100px;"></div>
  <div class="cloud-circle" style="left:54%; width:80px; height:80px;"></div>
  <div class="cloud-circle" style="left:60%; width:100px; height:100px;"></div>
  <div class="cloud-circle" style="left:66%; width:80px; height:80px;"></div>
  <div class="cloud-circle" style="left:72%; width:100px; height:100px;"></div>
  <div class="cloud-circle" style="left:78%; width:80px; height:80px;"></div>
  <div class="cloud-circle" style="left:84%; width:100px; height:100px;"></div>
  <div class="cloud-circle" style="left:90%; width:80px; height:80px;"></div>
  <div class="cloud-circle" style="left:96%; width:100px; height:100px;"></div>
  <div class="cloud-circle" style="left:102%; width:80px; height:80px;"></div>
</div>
<div class="title">QuizMaster</div>
<form action="/logIn" method="get">
  <button class="button">Spielen</button>
</form>
</body>
</html>