.cloud-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 65%;
    background: rgba(106, 75, 198, 0.9);
    backdrop-filter: blur(10px);
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
    z-index: 1;
}

h1 {
    z-index: 2;
    color: #fdbf35;
    font-size: 40px;
    background: #2c2c54;
    padding: 10px 30px;
    border-radius: 20px;
    margin-bottom: 40px;
    margin-top: 80px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 25px;
    padding: 0 60px 60px 80px;
    margin-top: 360px; /* <-- Abstand nach unten von der lila Fläche */
    z-index: 2;
    width: 100%;
    max-width: 900px;
}


.category-button {
    color: white;
    font-size: 20px;
    padding: 20px;
    height: 100px;
    text-align: center;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
}

.category-button:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
}
