body {
    background: linear-gradient(to bottom, #a29bfe, #ff9ff3);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.cloud-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 180px;
    background: #fff5e1;
    border-top-left-radius: 50% 20%;
    border-top-right-radius: 50% 20%;
    z-index: 1;
}

.login-box {
    background: #ffffffdd;
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 0;
    color: #2c2c54;
    font-size: 36px;
}

input {
    margin: 10px 0;
}

button {
    margin-top: 20px;
    background-color: #fdbf35;
    color: white;
}
