<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Quiz Beendet</title>
  <link rel="stylesheet" href="../styles/global.css" />
  <link rel="stylesheet" href="../styles/End.css" />
</head>
<body>
<div class="quiz-end-buttons">
  <button onclick="goToHome()" class="quiz-btn">🏠 Zur Startseite</button>
  <button onclick="restartQuiz()" class="quiz-btn">🔁 Test wiederholen</button>
</div>

<script src="../scripts/End.js"></script>
</body>
</html>
